{% extends "base.html" %}

{% block site_meta %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "LearningResource",
    "@id": "https://elixir-europe.github.io/elixir-smp-lesson/",
    "http://purl.org/dc/terms/conformsTo": {
        "@type": "CreativeWork",
        "@id": "https://bioschemas.org/profiles/TrainingMaterial/1.0-RELEASE"
    },
    "description": "Lesson on concepts and information required to create an ELIXIR Software Management Plan using the ELIXIR SMP Wizard",
    "keywords": "ELIXIR, SMP, Software Management Plan, SMW, OPEN, Bioinformatics, Teaching, Train-the-trainer",
    "name": "ELIXIR Software Management Plan lesson",
    "license": "https://creativecommons.org/licenses/by/4.0/"
}
</script>
{% endblock %}
